<!DOCTYPE html>
<html>
<head>
    <title>管理员列表</title>
    <#include "/baseHeader.html">
        </head>
<body>
<div id="sysUser" v-cloak>
    <!-- 查询框开始 -->
    <div class="panel panel-default" v-show="showList">
        <div class="panel-heading">系统用户查询</div>
        <div class="panel-body">
            <el-row>
                <el-form :inline="true" :model="query" class="demo-form-inline">
                    <el-col :span="8">
                        <el-form-item label="用户名称">
                            <el-input v-model="query.username" @keyup.enter="searchSysRoles"
                                      placeholder="用户名称"></el-input>
                        </el-form-item>
                    </el-col>
                </el-form>
            </el-row>
            <el-row>
                <el-col>
                    <div class="grid-content bg-purple">
                        <el-button type="primary" @click="clearCondition">清空</el-button>
                        <el-button type="primary" icon="search" @click="searchSysUsers">搜索</el-button>

                        <el-button type="primary" @click="addUser">新增</el-button>


                        <el-button type="primary" @click="deleteUser">删除</el-button>
                    </div>
                </el-col>
            </el-row>
        </div>
    </div>
    <div v-show="showList">
        <!-- 用户列表开始 -->
        <el-table
                ref="multipleTable"
                :data="sysUsers"
                border
                tooltip-effect="dark"
                @selection-change="handleSelectionChange"
                style="width: 100%">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="username"
                    label="用户名">
            </el-table-column>
            <el-table-column
                    prop="deptName"
                    label="所属部门">
            </el-table-column>
            <el-table-column
                    prop="email"
                    label="邮箱">
            </el-table-column>
            <el-table-column
                    prop="mobile"
                    label="手机号"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="status"
                    label="状态"
                    :formatter="formatUserStatus"
                    width="80">
            </el-table-column>
            <el-table-column
                    prop="createTime"
                    label="创建时间">
            </el-table-column>
            <el-table-column
                    label="操作">
                <template scope="scope">

                    <el-button type="text" @click="updateUser(scope.row)">修改</el-button>

                    <el-button type="text" @click="deleteUserInRow(scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[20, 30, 40, 50, 100]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
        <!-- 用户列表结束 -->
    </div>
    <!-- 新增，修改用户开始 -->
    <div class="panel panel-default" v-show="!showList">
        <div class="panel-heading">{{title}}</div>
        <div class="panel-body">
            <el-form :model="userForm" :rules="rules" ref="userForm" label-width="140px">
                <el-form-item label="用户名" prop="username">
                    <el-input v-model="userForm.username" placeholder="请输入用户名" class="middleInput"
                              maxlength="50"></el-input>
                </el-form-item>
                <el-form-item label="所属部门" prop="deptName">
                    <el-input v-model="userForm.deptName" placeholder="请选择所属部门" class="middleInput" icon="search"
                              :disabled="true" :on-icon-click="showDeptTree"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password" v-show="userForm.userId === null">
                    <el-input type="password" v-model="userForm.password" placeholder="请输入密码" class="middleInput"
                              maxlength="50"></el-input>
                </el-form-item>
                <el-form-item label="邮箱" prop="email">
                    <el-input v-model="userForm.email" placeholder="请输入邮箱" class="middleInput"
                              maxlength="50"></el-input>
                </el-form-item>
                <el-form-item label="手机号" prop="mobile">
                    <el-input v-model="userForm.mobile" placeholder="请输入手机号" class="middleInput"
                              maxlength="20"></el-input>
                </el-form-item>
                <el-form-item label="角色">
                    <el-checkbox-group v-model="checkedRole">
                        <el-checkbox v-for="role in roleList" :label="role.roleId" :key="role.roleId">
                            {{role.roleName}}
                        </el-checkbox>
                    </el-checkbox-group>
                </el-form-item>
                <el-form-item label="状态" prop="status">
                    <el-radio-group v-model="userForm.status">
                        <el-radio label="0">禁用</el-radio>
                        <el-radio label="1">启用</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item>
                    <el-button @click="cancel">取消</el-button>
                    <el-button type="primary" @click="saveUser">保存</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
    <!-- 新增，修改用户结束 -->
    <!-- 部门树开始 -->
    <el-dialog title="选择部门" :visible.sync="showDept" :show-close=false>
        <el-tree
                :data="deptTree"
                default-expand-all
                :expand-on-click-node="false"
                node-key="deptId"
                ref="deptTree"
                @node-click="handleDeptNodeClick"
                :props="defaultProps4Dept">
        </el-tree>
        <div slot="footer" class="dialog-footer">
            <el-button @click="showDept = false">取 消</el-button>
        </div>
    </el-dialog>
    <!-- 部门树结束 -->
</div>

<script src="${request.contextPath}/statics/js/modules/sys/user.js?_${.now?long}"></script>
</body>
</html>